/* Header */
.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6232, #f7442e );
}
.header__navbar{
    display:flex;
    justify-content: space-between;
    padding: 0 7px;
    height: 34px;
    align-items: center;
}
/* List nav header */
.header__navbar-list{
    padding-left: 0;
    list-style: none;
    margin-top: 8px;
    min-height: 16px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item--bold{
    font-weight: 500;
}

.header__navbar-item,
.header__navbar-item-link:hover,
.header__navbar-icon-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--while-color);
    text-decoration: none;
}
.header__navbar-icon-link i{
    font-size: 1.5rem;
}
/* border ngăn cách giữa các nav */
.header__navbar-item--separate::after{
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    border-left: 2px solid #fa897a;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
/* Trỏ chuột vào */
.header__navbar-item:hover{
    cursor: pointer;
    color: rgba(255,255,255, 0.7);
}
.header__navbar-icon-link:hover{
    opacity: 0.7;
}
/* CSS Icons  */
.header__navbar-item-link{
    color: var(--while-color);
    text-decoration: none;
}
.header__navbar-icon-link{
    font-size: 1.3rem;
    margin: 0 4px;
}
/* Căn giữa chữ và icon */
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
/* Disable Kết nối */
.header__navbar-title--no-cursor{
    color: var(--while-color);
    cursor: text;
    font-size: 1.3rem;
}
.header__navbar-item i {
    padding-right: 4px;
}
/* Navbar QRCODE */
.navbar__qr-code{
    position: absolute;
    width: 186px;
    background-color: var(--while-color);
    left: 0;
    top: 100%;
    padding: 4px;
    display: none;
    border-radius: 2px;
    z-index: 1;
}
.navbar__qr-code-img{
    width: 100%;
}
.navbar__qr-apps{
    display: flex;
    justify-content: space-around;
}
.navbar__qr-apps-img{
    height: 16px;
}
.header__navbar-item--has-qr:hover .navbar__qr-code{
    display: block;
}
/* Notifycation */
.header__navbar-notify{
    position: absolute;
    top: 118%;
    width: 350px;
    right: 0;
    cursor: default;
    border: 1px solid #D3D3D3;
    display: none;
    background-color: var(--while-color);
    animation: NotifyGrowth ease-in 0.2s;
    transform-origin: calc(100% - 10px) top;
    z-index: 1;
}
.header__navbar-notify::before {
    content:"";
    border-width: 20px 30px;
    border-style:solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 3px;
    top: -30px;
}
.header__navbar-notify-item--viewed{
    background-color:rgba(238, 75 ,43, 0.08);
}
.header__navbar-notify-header h3 {
    color: #888;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 500;
}
.header__navbar-notify-header{
    height: 40px;
    line-height: 40px;
    background-color: var(--while-color);
    padding-bottom: 4px;
}

.header__navbar-notify-list{
    padding-left: 0;
    list-style: none;
}
.header__navbar-notify-item:hover{
    background-color: #f7f7f7;
}
.header__navbar-notify-item {
    padding: 8px;
}
.header__navbar-notify-item a{
    display: flex;
}

.header__navbar-notify-link{
    display: flex;
    text-decoration: none;

}
.header__navbar-notify-img{
    width: 48px;
    object-fit: contain;
}
.header__navbar-notify-info{
    margin-left: 16px;
}
.header__navbar-notify-name{
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black-color);
}
.header__navbar-notify-description{
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: block;
    color: #888;
}
/* Notify footer */
.header__navbar-footer{
    text-align: center;
    padding: 12px 0;
    width: 100%;
}
.header__navbar-footer-btn{
    text-decoration:none ;
    color: #333;
}
.header__navbar-item--has-notify:hover .header__navbar-notify{
    display: block;
}
/* CSS Form  */

.auth-form{
    width: 400px;
    background-color: var(--while-color);
}
.auth-form__container{
    padding: 0 32px;
}
/* Register form */
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__header-heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth-form__header-switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}
/* Input register form */
.auth-form__input{
    margin-top: 16px;
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding:0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
/* Điều khoản dịch vụ  */
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
    padding: 0 12px;
}
/* btn */
.auth-form__controls{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}
.btn + .btn{
   margin-left: 8px;
}
/* Kết nối Social */
.auth-form__social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f5f5;
    height: 42px;
    margin-top: 16px;
}
.auth-form__social a {
    text-decoration: none;
}
.auth-form__social-icon{
    font: 1.8rem;
}
.btn--size-s{
   font-size: 12px;
   height: 24px;
}
/* Facebook */
.auth-form__social--facebook{
    background-color:#3A5A98 ;
    color: var(--while-color);
}
.auth-form__social--facebook,
.btn--social-icon{
    color: var(--while-color);
}
/* Google */
.auth-form__social--google{
    background-color: var(--while-color);
    color: var(--text-color);
}
.auth-form__social-title{
    margin: 0 12px;
}
/* Login Form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}
.auth-form__help-link-separate{
    border-right: 1px solid var(--border-color);
    height: 12px;
    margin: 0 8px;
    display: block;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/* Header Search */
.header-with-search{
    height:var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
/* Logo  */
.header__logo{
    width: 202px;
}
.header__logo-img{
    height: 60px;
    width: 162px;
}
/* Search */
.header__search{
    border-radius: 2px;
    flex: 1;
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    position: relative;

}
.header__search-input-wrap{
    flex: 1;
}
.header__search-input{
    padding: 4px 16px;
    font-size: 1.3rem;
    width: 100%;
    color: var(--text-color);
    line-height: 40px;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-weight: 500;


}
/* Search icon */
.header__search-btn{
    background-color: var(--primary-color);
    height: 34px;
    border: none;
    border-radius: 3px;
    margin: 3px 3px 0 0;
    width: 60px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #ec593C;
    cursor: pointer;
}
.header__search-btn-icon{
    color: var(--while-color);
    font-size: 1.4rem;
}

.header__search-icon:hover{
    cursor: pointer;
    opacity: 0.9;
}
/* History Search */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 9%);
    background-color: var(--while-color);
    box-shadow: 0 0 3px #999;
    border-radius: 2px;
    display: none;
}
.header__search-input:focus ~.header__search-history{
    display: block;
}
.header__search-history-heading{
    margin:6px 12px;
    font-size: 1.3rem;
    color: #888;
    font-weight: 400;
}
.header__search-history-list{
    font-size: 1.3rem;
    padding-left: 0;
    margin:6px 0 0;
    list-style: none;
    border-radius: 2px;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item:last-child{
    border-bottom-left-radius:2px;
    border-bottom-right-radius: 2px;
}
.header__search-history-item a {
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    line-height: 38px;
    color: var(--text-color);
}
/* Cart */
.header__cart{   
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.header__cart-wrap{
    font-size: 2.3rem;
    color: var(--while-color);
    position: relative;
}
.header__cart-list{
    position: absolute;
    top: calc(100% - 4px);
    right: 40px;
    background-color: var(--while-color);
    width: 350px;
    box-shadow: 0 0 3px #999;
    text-align: center;
    animation: faceIn ease-in 0.2s;
    cursor: default !important;
    font-size: 1.3rem;
    color: var(--text-color);
    display: none;

}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 12px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    cursor: pointer;
    border-color: transparent transparent var(--while-color) transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
/* No-products */
.header__cart-wrap:hover .header__cart-list--no-cart{
    display: block;
    cursor: pointer;
}

.header__cart-list--no-cart{
    padding: 28px 0px 10px 0;
    text-align: center;
}
.header__cart-list--no-cart .header__cart-no-cart-msg,
.header__cart-list--no-cart .header_cart-no-cart-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_cart-no-cart-img{
    width: 40%;
    display: none;
}
.header__cart-no-cart-msg {
    display: none;
    font-size: 1.3rem;
    color: var(--text-color);
}
/* Con số trên cart */
.header__cart-noitice{
    position: absolute;
    padding: 1px 7px;
    top: 11px;
    right: 46px;
    background-color: var(--while-color);
    color: var(--primary-color);
    line-height: 1.2rem;
    border: 2px solid #EE4D2D;
    border-radius: 10px;
    font-size: 1.2rem;
}
/* Has product */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 8px;
    height: 34px;
    line-height: 34px;
    color: #888;
    font-weight: 400;

}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    font-size: 1.3rem;
}
.header__cart-item{
    display: flex;
    padding: 0 6px 6px 0;
    height: 60px;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #fafafa;
    cursor: pointer;

}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}
.header__cart-item-info{
    width: 100%;
}
.header__cart-item-head{
    display: flex;
    justify-content: space-between;
    height: 34px;
    line-height: 34px;
}
.header__cart-item-name{
    margin: 0;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--text-color);
}
.header__cart-item-price{
    color: var(--primary-color);
    font-size: 1.3rem;
}   
.header__cart-item-multiply{
    color: #757575;
    font-size: 0.7rem;
    margin: 0 2px;
}
.header__cart-item-quantity{
    font-size: 1.3rem;
    color: #757575;

}
.header__cart-item-body{
    height: 26px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;

}
.header__cart-item-description{
    font-size: 1.2rem;
    color: #888;
    font-weight: 300;
}
.header__cart-item-remove{
    font-weight: 600;
    font: 1.2rem;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    text-decoration: none;
}
/* Animation Notify */
@keyframes NotifyGrowth{
    from{
        transform:scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
